<?xml version='1.0' encoding='utf-8'?>
<widget id="com.webnotigap" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" >
    <name>NotificacionPhonegap</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <gap:config-file platform="android" parent="/manifest">
        <application android:theme="@android:style/Theme.NoTitleBar"></application>
    </gap:config-file>
    <feature name="Notification">
        <param name="android-package" value="org.apache.cordova.dialogs.Notification"/>
    </feature>
    <access origin="*" />
</widget>
